# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/

# Data and presentation files
data/
presentations/
figures/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs and debug outputs
*.log
debug_*.lp
debug_*.sol
outputs/

# IDE / editor folders
.vscode/
.idea/

# tmp files
tmp_*
